.footer-main{
   padding: 0;
   background: $color1;
   border-top:0;

   .footer-bottom{
    background: $color1;
    border-top: 1px solid $color3;
   }
}

.footer-social-nav{
    ul{
        li{
            display: inline-block;
            margin: 0 rem(20);

            a{
                font-size: rem(30);
                color: $color4;

                &:hover{
                    color: $color5;
                }
            }
        }
    }
}