.notice-bar{
    padding: 10px 0;
    background: $color5;
    text-align: center;

    p{
        color: $white-color;
        text-transform: capitalize;
    }
}

.header-row{
    padding: rem(20) 0;
}