$header-items-spaces: 3vw;

.sticky-nav {
    padding-top: rem(60);

    .header-main,
    .header-minimal {
        position: fixed;
        width: 100%;
    }
}

.header-main {
    top: 0;
    background-color: $white-color;
    border-bottom: rem(1) solid $border-color;
    box-shadow: 0 rem(10) rem(20) rgba(6, 22, 51, 0.15);
    position: sticky;
    z-index: 13;

    .header-inner-wrap {
        padding: rem(10) rem(25);
        @include flex(center, space-between);

        .cats-btn-wrap {
            margin-right: rem(15);
            margin-left: rem(-10);

            .btn-cats {
                height: rem(40);
                width: rem(40);
                padding: 0;
                background: none;
                font-size: rem(22);
                border: 0;

                &:focus {
                    outline: 0;
                }

                .hamburger {
                    top: rem(2);
                    position: relative;
                }
            }
        }

        .logo-wrap {
            margin-left: 0;
            margin-right: 0;

            @include tablet-md {
                margin-right: auto;
            }

            .light-mode {
                display: block;
            }

            .dark-mode {
                display: none;
            }

            .header-logo-main-img {
                width: rem(115);
                min-width: rem(115);
                height: rem(32);

                @include media-breakpoint-down(sm) {
                    width: rem(94);
                    min-width: rem(94);
                    height: rem(26);
                }
            }
        }

        .search-cats-wrap {
            margin-left: $header-items-spaces;
            margin-right: $header-items-spaces * 1.4;

            @include desktop-md {
                margin-left: $header-items-spaces / 1.2;
                margin-right: $header-items-spaces / 1.2;
            }

            @include desktop-sm {
                margin-left: $header-items-spaces / 1.5;
                margin-right: $header-items-spaces / 1.5;
            }

            &+.language-switcher {
                margin-left: 0;
                margin-right: auto;
            }
        }

        .search-form-wrap {

            .search-collapse {
                margin-left: rem(-28);
                display: flex;

                @include tablet-md {
                    display: none;
                }

                .header-search-btn {
                    font-weight: normal;
                    padding-left: rem(40);
                    font-size: rem(15);

                    .nfx-icon {
                        font-size: rem(20);
                        margin-right: rem(-15);
                        margin-left: rem(20);
                    }
                }
            }
        }

        .cat-highlighted-menu {
            display: flex;
            margin-left: 0;
            margin-right: 0;

            @include desktop-xs {
                display: none;
            }

            ul.nav-menu {
                flex-wrap: nowrap;
                white-space: nowrap;
                font-size: rem(15);
                font-weight: 600;

                li {

                    &+li {
                        margin-left: $header-items-spaces;

                        @include desktop-md {
                            margin-left: $header-items-spaces / 1.5;
                        }

                        @include desktop-sm {
                            margin-left: $header-items-spaces / 3;
                        }
                    }

                    &:nth-child(n + 4) {
                        display: none;
                    }

                    a {
                        color: $text-color;
                        display: inline-block;
                        padding: rem(8) 0;
                        @include truncate(150);
                        max-width: rem(150);

                        @include desktop-md {
                            @include truncate(120);
                            max-width: rem(120);
                        }

                        @include desktop-sm {
                            @include truncate(120);
                            max-width: rem(120);
                        }

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .language-switcher {
            margin-left: $header-items-spaces;
            margin-right: 0;

            @include desktop-sm {
                margin-left: $header-items-spaces / 2;
            }

            @include desktop-xs {
                margin-left: auto;
                margin-right: $header-items-spaces / 3;
            }
        }


        .darkmode-switcher-wrapper {
            margin-left: $header-items-spaces / 3;
            margin-right: $header-items-spaces;

            @include desktop-xs {
                // margin-left: auto;
                // margin-right: $header-items-spaces;
            }


        }

        .shop-action-wrap {
            margin-left: auto;
            margin-right: 0;

            @include desktop-xs {
                margin-left: 0;
            }

            @include tablet-md {
                margin-left: auto;
                margin-right: 0;
            }

            @include mobile-lg {
                min-width: rem(132);
            }

            .header-action-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(22);
                margin-top: rem(2);
                height: rem(36);
                width: rem(36);
                padding: 0;
                border: 0;

                .mcdart {
                    &.icon {
                        height: rem(36);
                        width: rem(36);

                        svg {
                            width: 100%;
                            height: rem(24);
                            top: rem(8);
                        }
                    }
                }

                &:hover {
                    color: $primary-color;
                }
            }

            .account-wrap {

                .account-info-wrap {
                    .account-inner-wrap {
                        display: flex;
                        cursor: pointer;
                        margin-right: rem(45);
                        flex-direction: column;
                        margin-left: auto;
                        margin-right: $header-items-spaces / 1.5;
                        text-align: right;
                        line-height: rem(20);

                        @include desktop-sm {
                            margin-left: 0;
                        }

                        .account-name,
                        .account-info {
                            width: 100%;
                            white-space: nowrap;
                        }

                        .account-name {
                            font-size: re(15);
                            font-weight: 600;
                            color: $primary-color;
                        }

                        .account-info {
                            font-size: rem(14);
                            font-weight: 500;

                            .arrow-down {
                                font-size: rem(10);
                                margin-right: rem(-20);
                                margin-left: rem(5);
                            }
                        }
                    }
                }
            }

            .search-toggle {
                display: none;

                @include tablet-md {
                    display: block;
                }
            }

            .cart-wrap {
                .btn-cart {
                    text-decoration: none;
                    color: $text-color;
                    overflow: visible;
                    position: relative;

                    .header-cart-badge {
                        display: block;
                        position: absolute;
                        top: rem(-2);
                        right: rem(-14);
                    }

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .account-wrap,
            .wishlist-wrap,
            .search-toggle {
                @include media-breakpoint-down(md) {
                    margin-right: rem(12);
                }
            }
        }
    }
}

.is-dark-mode {
    .header-main .header-inner-wrap .logo-wrap {
        .light-mode {
            display: none;
        }

        .dark-mode {
            display: block;
        }
    }
}