.is-act-home {
    .breadcrumbs-wrapper {
        display: none;
    }

    .content-main {
        padding: 0;
    }

    .cms-page {
        .cms-sections {
            .cms-section {
                &:nth-child(1) {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                &:nth-child(2) {
                    background: $light-grey-color;
                    padding-top: rem(30);
                }

                &:nth-child(3) {
                    background: linear-gradient(180deg, $light-grey-color 0%, rgba(255, 255, 255, 0) 60%, rgba(248, 248, 251, 0) 60%);
                }
            }
        }
    }

    .cms-block-text-teaser {
        &+.cms-block-nfx-custom-buttons {
            margin-top: rem(15);
        }
    }

}
